*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    
}

.taco{
    background-image: url(tacoclr.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform: scaleX(-1);
    bottom: -40px;
    left: 18px;
    width: 233px;
    height: 244px;
}

.ant{
    width: 200px;
    height: 120px;
    background-image: url(antclr.png);
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 50vw;
}

.gameOver{
    visibility: hidden;
}

.animateTaco{
    animation: taco 0.6s linear;
}

.antani{
    animation: antani 5s linear infinite;
}

@keyframes taco{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 200px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes antani{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}